.progress-bar {
  --progress: 40%;
  background-color: var(--breadcrumbs-background);
  padding-block: 20px;
  position: relative;
  display: flex;
  align-items: center;
  span.text {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 80px;
  }
  &::after, &::before {
    content: '';
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  &::before {
    width: 100%;
    background-color: rgb(219, 219, 219);
    
  }
  &::after {
    width: var(--progress);
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    background-color: var(--primary-base-color);
  }
}

div.step {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  &.active {
    > span:first-child {
      background-color: var(--primary-base-color);
      color: #fff;
    }
    .text {
      color: #0A0A0A;
    }
  }
  &.shipping {
    margin-left: 35%;
  }
  &.payment {
    margin-left: 10%;
  }
}

div.step > span:first-child {
  position: absolute;
  margin-top: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 25px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DBDBDB;
  color: #A1A1A1;
  border: 15px solid var(--breadcrumbs-background);
  box-sizing: content-box;
  z-index: 10;
}



.done img {
  width: 15px;
}

.Checkout::before {
  content: '';
  background: var(--breadcrumbs-background);
  min-height: var(--breadcrumbs-height);
  display: none; 
}