.progress-bar {
  --steps: 1;
  --current-step: 0;
  background-color: var(--breadcrumbs-background);
  padding-block: 20px;
  position: relative;
  display: flex;
  align-items: center;

  span.text {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 90px;
    color: #A1A1A1;
  }
  
  &::after, &::before {
    content: '';
    height: 6px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  &::before {
    width: 100%;
    background-color: #d8d8d8;
    
  }
  &::after {
    width: calc(100% * (var(--current-step) / (var(--steps) + 1)));
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
    background-color: var(--primary-base-color);
  }
}

div.step {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  &.active {
    .text {
        color: #0A0A0A;
      }
    > span:first-child {
      background-position: -100%;
      color: #fff;
    }
    
  }
  margin-left: calc((100% * 1 / (var(--steps) + 2)) + 20px);
}

div.step > span:first-child {
  position: absolute;
  top: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 25px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #dbdbdb, #dbdbdb 50%, var(--primary-base-color) 50%, var(--primary-base-color));
  background-size: 200%;
  background-position: 0%;
  color: #A1A1A1;
  border: 15px solid var(--breadcrumbs-background);
  box-sizing: content-box;
  z-index: 10;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition-delay: .3s;
}



.active img {
  width: 15px;
}

.Checkout::before {
  content: '';
  background: var(--breadcrumbs-background);
  min-height: var(--breadcrumbs-height);
  display: none; 
}